/*480px */
/*768px */
/*1025px*/
/*1441px*/
/*1921px*/
@media screen and (min-width: 0) {
  head {
    font-family: "usn-small 0"; }

  body:after {
    content: "usn-small - min-width: 0"; } }
@media screen and (min-width: 48.063em) {
  head {
    font-family: "usn-medium 48.063em"; }

  body:after {
    content: "usn-medium - min-width: 48.063em"; } }
@media screen and (min-width: 64.063em) {
  head {
    font-family: "usn-large 64.063em"; }

  body:after {
    content: "usn-large - min-width: 64.063em"; } }
head {
  clear: both; }
  head title {
    font-family: "usn-small 0, usn-medium 48.063em, usn-large 64.063em"; }

body:after {
  display: none; }

*[data-usn-if] {
  display: none; }

/* 1.2   */
/* 1.44  */
/* 1.728 */
/* 2.074 */
/* 2.488 */
/* 2.986 */
/* 3.583 */
body {
  font-family: Overpass, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 0.1; }

h3,
h2 {
  line-height: 0.1; }

h1 {
  line-height: 0.1; }

h6, .h6 {
  font-size: 0.83333em; }

h5, .h5 {
  font-size: 1em; }

h4, .h4 {
  font-size: 1.2em; }

h3, .h3 {
  font-size: 1.44em; }

h2, .h2 {
  font-size: 1.728em; }

h1, .h1 {
  font-size: 2.0736em; }

@media only screen and (min-width: 48.063em) {
  body {
    font-size: 1.2em; } }
@media only screen and (min-width: 64.063em) {
  body {
    font-size: 1.44em; } }
@media only screen and (min-width: 90.063em) {
  body {
    font-size: 1.728em; } }
h1, .h1,
h2, .h2,
h3, .h3 {
  word-wrap: break-word;
  margin-top: 1em;
  margin-bottom: 1em; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
  text-decoration: none; }

p {
  margin: 0 0 0.5em; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center {
  margin: 0 auto 1.44;
  text-align: center; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.sr-only,
.visuallyhidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.affix {
  position: fixed; }

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.page {
  padding-bottom: 4em; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  max-width: 40em; }

.grid {
  /* inline-block fallback for IE9 generation */
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  margin-left: -2vw;
  margin-right: -2vw;
  margin-bottom: 1em; }
  @supports (display: flex) {
    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 48.063em) {
    .grid {
      margin-left: -0.5em;
      margin-right: -0.5em; } }
  .grid > * {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1em;
    /* inline-block fallback for IE9 generation */
    display: inline-block;
    width: calc(100% * 1 / 4 - 1em - .01px);
    vertical-align: top;
    letter-spacing: normal;
    text-rendering: auto; }
    @media only screen and (min-width: 48.063em) {
      .grid > * {
        margin-left: 0.5em;
        margin-right: 0.5em; } }
    @supports (display: flex) {
      .grid > * {
        flex: 1 0 10em; }
        @media only screen and (min-width: 48.063em) {
          .grid > * {
            flex: 0 0 calc(100% * 1 / 4 - 1em - .01px);
            width: auto; } } }
  .grid > .flexitem-double {
    width: calc(100% * 2 / 4 - 1em); }
    @supports (display: flex) {
      .grid > .flexitem-double {
        flex: 0 0 calc(100% * 2 / 4 - 1em);
        width: auto; } }
  .grid > .flexitem-first {
    order: -1; }

::selection {
  color: inherit;
  text-shadow: inherit;
  background-color: #ACCEF7; }

html,
body,
table {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */ }

h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */ }

abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */ }

time {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; }

pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

sup {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */ }

sub {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */ }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */ }

tbody,
caption {
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

/**
 * Syntax highlighting styles
 */
.highlight {
  margin: 0 0 0.5em;
  text-align: left !important;
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/* styling skip links */
.skip-links {
  position: absolute;
  top: 0;
  width: 100%; }
  .skip-links a {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0.5em;
    background: black;
    color: white;
    text-decoration: none; }
    .skip-links a:focus {
      position: static;
      overflow: visible;
      clip: auto; }

@media print {
  html {
    font-size: 13pt; }

  body {
    color: #000; }

  a,
  header a {
    color: #000; }

  p, blockquote {
    orphans: 3;
    widows: 3; }

  blockquote, ul, ol {
    page-break-inside: avoid; }

  h1, h2, h3, caption {
    page-break-after: avoid; }

  .wrapper {
    max-width: none;
    margin: 0; }

  header {
    background: none; }

  nav,
  .breadcrumb {
    display: none; } }
.site-header {
  padding: 0.0rem 0 0em;
  text-align: center; }
  @media only screen and (min-width: 48.063em) {
    .site-header .wrapper {
      display: flex;
      align-content: center; } }
  .site-header a {
    text-decoration: none; }
  .site-header .site-title {
    display: block;
    margin: 0.5em auto;
    font-size: 2.48832em;
    font-weight: 600;
    color: #000;
    text-align: center; }
    @media only screen and (min-width: 48.063em) {
      .site-header .site-title {
        font-size: 1.28598em; } }
    .site-header .site-title:hover {
      opacity: 0.88;
      text-decoration: underline; }

.site-header nav a:hover, .site-header nav a:focus, .site-header nav a:active {
  text-decoration: none;
  border-bottom: 2px solid #444; }

.nav-main {
  display: flex;
  align-items: center;
  flex: 1; }
  .nav-main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none; }
    @media only screen and (min-width: 48.063em) {
      .nav-main ul {
        justify-content: flex-end; } }
  .nav-main li {
    flex: 1;
    text-align: center;
    max-width: 10rem; }
  .nav-main a {
    font-weight: bold; }
    .nav-main a + .nav-main a {
      margin-left: 1em; }

.exergue {
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #000; }
  .exergue small {
    display: block;
    clear: both;
    width: 100%; }
  .exergue a {
    color: #fff; }
    .exergue a:hover {
      text-decoration: none; }

.pagination {
  clear: both;
  margin: 3rem 0;
  font-size: 1rem;
  text-align: center; }
  .pagination .left, .pagination .right {
    margin-bottom: 1em;
    max-width: 45%;
    text-align: left; }
  .pagination .right {
    text-align: right; }
  .pagination a {
    display: block; }

.pagination a,
.pagination .disabled {
  padding: 1em 1.5em;
  color: #333;
  border: 1px solid #595959;
  border-radius: 0.1875em;
  background: rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out; }

.pagination .disabled {
  opacity: 0.5; }

.pagination a:hover,
.pagination a:focus {
  color: #111;
  background: white; }

.pagination a:active {
  background: rgba(0, 0, 0, 0.12); }

.pagination .button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px; }

.button-disabled {
  opacity: 0.55;
  background-color: #353535; }

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #353535; }

.post {
  padding-bottom: 1.44; }
  .post figure {
    text-align: center; }
  .post img {
    margin: 0.5em auto 1.5em; }

.posts-archive {
  padding: 0;
  margin: 0 0 1em; }
  .posts-archive li {
    display: inline-block; }
  .posts-archive > li:not(:last-child):after {
    content: ' - '; }

.post-meta {
  font-weight: 700; }
